
  <h2>Log-In</h2>
    <form id="logIN">
    <label for="nameClient">Nombre: </label>
    <input type="text" name="nameClient" id="nameClient">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <button type="submit"> Ingresar</button>
    </form>
    <a href="http://localhost:8080/api/sessions/github"> Ingresar Con GitHub </a>
    <button type="button" onclick="location.href = 'api/session/register'" id="register"> Registrarse</button>

<script src="/logIn.js"></script>



