<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
</head>
<body>

    <h2>Log-In</h2>
    <label for="nameClient">Nombre: </label>
    <input type="text" name="nameClient" id="nameClient">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">

    <button type="submit" id="logIN"> Ingresar</button>
    <button type="button" onclick="location.href = './register'" id="register"> Registrarse</button>

<script src="../public/logIn.js">


</body>
</html>


