    <h2>Registration</h2>
    <form id="register">
    <label for="nameClient">Nombre: </label>
    <input type="text" name="nameClient" id="nameClient">

    <label for="surNameClient">Apellido: </label>
    <input type="text" name="surNameClient" id="surNameClient">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">

    <label for="emailClient">E-mail: </label>
    <input type="email" name="emailClient" id="emailClient">

    <label for="ageClient">Edad: </label>
    <input type="number" name="ageClient" id="ageClient">

    <button type="submit" > Aceptar</button>
    </form>
    <button type="submit" onclick="location.href = 'http://localhost:8080/'" id="BackButton"> Home Page</button>

<script src="/registro.js"></script>



