<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
</head>
<body>

    <h2>Registration</h2>
    <label for="nameClient">Nombre: </label>
    <input type="text" name="nameClient" id="nameClient">

    <label for="surNameClient">Apellido: </label>
    <input type="text" name="surNameClient" id="surNameClient">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">

    <label for="emailClient">E-mail: </label>
    <input type="email" name="emailClient" id="emailClient">

    <label for="ageClient">Edad: </label>
    <input type="number" name="ageClient" id="ageClient">

    <button type="submit" id="register"> Aceptar</button>
    <button type="submit" onclick="location.href = './login'" id="BackButton"> Ir a Log-In</button>

<script src="../public/register.js">
</body>
</html>


